//- corresponde al archivo 03_paquete_pug.js
doctype html 
html
    head 
    title Curso Node JS 
    meta(charset="UTF-8")
    link(rel="stylesheet", href="main.css")

body 
    main 
        h1 Curso de Node JS 
        p Bienvenido al curso basico de Node JS 
        p Esta pagina se creo usando PUG 
        figure 
            img(src="logoNodeJS.jpg" style="width: 50%, height: 50%") 
            figcaption Logo de Node JS 

